In [38]:
from math import sqrt
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [39]:
df = pd.read_csv('indonesian_movies.csv')
df.head()

,title,year,description,genre,rating,users_rating,votes,languages,directors,actors,runtime
0,#FriendButMarried 2,2020,Ayudia (Mawar De Jongh) is not satisfied enoug...,Biography,13+,6.5,120,Indonesian,Rako Prijanto,"['Adipati Dolken', 'Mawar Eva de Jongh', 'Vonn...",100 min
1,4 Mantan,2020,"Sara, Airin, Rachel, and Amara were accidental...",Thriller,17+,6.4,8,Indonesian,Hanny Saputra,"['Ranty Maria', 'Jeff Smith', 'Melanie Berentz...",80 min
2,Aku Tahu Kapan Kamu Mati,2020,"After apparent death, Siena is able to see sig...",Horror,13+,5.4,17,Indonesian,Hadrah Daeng Ratu,"['Natasha Wilona', 'Ria Ricis', 'Al Ghazali', ...",92 min
3,Anak Garuda,2020,"Good Morning Indonesia, a school for poor orph...",Adventure,13+,9.1,27,Indonesian,Faozan Rizal,"['Tissa Biani Azzahra', 'Violla Georgie', 'Aji...",129 min
4,Dignitate,2020,Alfi (Al Ghazali) meets Alana (Caitlin Halderm...,Drama,17+,7.6,33,Indonesian,Fajar Nugros,"['Al Ghazali', 'Caitlin Halderman', 'Giorgino ...",109 min

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1272 non-null   object
 1   year          1272 non-null   int64
 2   description   840 non-null    object
 3   genre         1236 non-null   object
 4   rating        376 non-null    object
 5   users_rating  1272 non-null   float64
 6   votes         1272 non-null   object
 7   languages     1272 non-null   object
 8   directors     1265 non-null   object
 9   actors        1272 non-null   object
 10  runtime       869 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 109.4+ KB

In [46]:
df.isnull().sum()

title             0
year              0
description     432
genre            36
rating          896
users_rating      0
votes             0
languages         0
directors         7
actors            0
runtime         403
score             0
dtype: int64

In [47]:
#Replace NaN with an empty string
df['description'] = df['description'].fillna('')
df['directors'] = df['directors'].fillna('')

In [48]:
df.isnull().sum()

title             0
year              0
description       0
genre            36
rating          896
users_rating      0
votes             0
languages         0
directors         0
actors            0
runtime         403
score             0
dtype: int64

In [49]:
df = df.drop(['languages','runtime','votes','users_rating'], axis = 1)
df.head(20)

,title,year,description,genre,rating,directors,actors,score
0,#FriendButMarried 2,2020,Ayudia (Mawar De Jongh) is not satisfied enoug...,Biography,13+,Rako Prijanto,"['Adipati Dolken', 'Mawar Eva de Jongh', 'Vonn...",6.218060
1,4 Mantan,2020,"Sara, Airin, Rachel, and Amara were accidental...",Thriller,17+,Hanny Saputra,"['Ranty Maria', 'Jeff Smith', 'Melanie Berentz...",6.148793
2,Aku Tahu Kapan Kamu Mati,2020,"After apparent death, Siena is able to see sig...",Horror,13+,Hadrah Daeng Ratu,"['Natasha Wilona', 'Ria Ricis', 'Al Ghazali', ...",6.117856
3,Anak Garuda,2020,"Good Morning Indonesia, a school for poor orph...",Adventure,13+,Faozan Rizal,"['Tissa Biani Azzahra', 'Violla Georgie', 'Aji...",6.308473
4,Dignitate,2020,Alfi (Al Ghazali) meets Alana (Caitlin Halderm...,Drama,17+,Fajar Nugros,"['Al Ghazali', 'Caitlin Halderman', 'Giorgino ...",6.241964
5,Guru-Guru Gokil,2020,"When staff salaries get stolen at his school, ...",Comedy,NaN,Sammaria Simanjuntak,"['Gading Marten', 'Boris Bokir', 'Kevin Ardilo...",6.133321
6,Hunter in the Blue Side of Manchester,2020,This movie tells the story of Hanif Thamrin (A...,Biography,13+,Rako Prijanto,"['Adipati Dolken', 'Ganindra Bimo', 'Vonny Cor...",6.146848
7,Janin,2020,Randu (Reuben Elishama Hadju) and Dinar (Jill ...,Horror,17+,Ook Budiyono,"['Jill Gladys', 'Reuben Elishama', 'Meriam Bel...",6.143752
8,Mangkujiwo,2020,A born of Kuntilanak from a Twin Mirror with h...,Horror,17+,Azhar Kinoi Lubis,"['Sujiwo Tejo', 'Yasamin Jasem', 'Asmara Abiga...",6.113310
9,Mariposa,2020,Iqbal (Angga Yunanda) is like a Mariposa butte...,Drama,13+,Fajar Bustomi,"['Angga Yunanda', 'Adhisty Zara', 'Dannia Sals...",6.392168
10,May the Devil Take You: Chapter Two,2020,"Two years after escaping from demonic terror, ...",Horror,17+,Timo Tjahjanto,"['Chelsea Islan', 'Widika Sidmore', 'Baskara M...",6.182712
11,Milea,2020,Milea made the decision to part with Dilan as ...,Drama,13+,Pidi Baiq,"['Iqbaal Dhiafakhri Ramadhan', 'Vanesha Presci...",6.129218
12,Nanti Kita Cerita Tentang Hari Ini,2020,"Three siblings live in happy-looking families,...",Drama,13+,Angga Dwimas Sasongko,"['Rio Dewanto', 'Sheila Dara Aisha', 'Rachel A...",6.952456
13,Nikah Yuk,2020,Arya (Marcell Darwin) is asked by his parents ...,Drama,13+,Adhe Dharmastriya,"['Yuki Kato', 'Marcell Darwin', 'Aliyah Faizah...",6.168307
14,Rasuk 2,2020,"Isabella (Nikita Willy), a medical student who...",Horror,17+,Rizal Mantovani,"['Nikita Willy', 'Achmad Megantara', 'Asri Wel...",6.149329
15,Si Doel the Movie 3,2020,"The return of Sarah with his son, Dul, to Jaka...",Drama,13+,Rano Karno,"['Rano Karno', 'Maudy Koesnaedi', 'Cornelia Ag...",6.304288
16,Surat dari Kematian,2020,Failing to prove the urban legend of Mbak Roha...,Horror,NaN,Hestu Saputra,"['Carissa Perusset', 'Endy Arfian', 'Jerome Ku...",6.145017
17,Temen Kondangan,2020,Putri (Prisia Nasution) is challenged to atten...,Comedy,NaN,Iip Sariful Hanan,"['Prisia Nasution', 'Gading Marten', 'Kevin Ju...",6.141041
18,Titus: Mystery of the Enygma,2020,A mouse-detective with his rabbit and lizard f...,Animation,SU,Dineshkumar Subashchandra,"['Arbani Yasiz', 'Ranty Maria', 'Lukman Sardi'...",6.145602
19,Toko Barang Mantan,2020,Tristan (Reza Rahadian) is the owner of the sh...,Comedy,13+,Viva Westi,"['Reza Rahadian', 'Marsha Timothy', 'Iedil Dzu...",6.165244

In [50]:
print(df['genre'].nunique(), 'unique genres:')
print(df['genre'].unique())

15 unique genres:
['Biography' 'Thriller' 'Horror' 'Adventure' 'Drama' 'Comedy' 'Animation'
 'Action' 'History' 'Crime' 'Romance' 'Sci-Fi' 'Family' nan 'War'
 'Fantasy']

In [51]:
print(df['rating'].nunique(), 'unique ratings')
print(df['rating'].unique())

11 unique ratings
['13+' '17+' nan 'SU' 'TV-14' '21+' 'TV-MA' 'Not Rated' 'R' 'D' 'PG-13'
 'Unrated']

In [52]:
df['rating'] = df['rating'].fillna('Unrated')
df['rating'] = df['rating'].replace({
    "Not Rated": "Unrated",
    "R": "13+",
    "PG-13": "13+",
    "TV-14": "13+",
    "TV-MA": "17+",
    "D": "17+",
    "21+": "17+"
})
print(df['rating'].nunique(), 'unique ratings')
print(df['rating'].unique())

4 unique ratings
['13+' '17+' 'Unrated' 'SU']

In [53]:
print(df[df["genre"].isnull()])

                                  title  year  \
761                        Jagad X Code  2009
824                              Barbi3  2008
826                        Best Friend?  2008
856                                Liar  2008
899                 Bukan Bintang Biasa  2007
938                    Ekspedisi Madewa  2006
955                               Ruang  2006
962                            Brownies  2005
964                      Detik Terakhir  2005
968                   Me vs. High Heels  2005
1008                    Jakarta Project  2001
1014                     Viva Indonesia  2001
1040                   Saya Duluan Dong  1994
1047             Mumpung Ada Kesempatan  1993
1070   Saur Sepuh 4: Titisan Darah Biru  1991
1075                         Antri Dong  1990
1084  Saur Sepuh 3: Kembang Gunung Lawu  1990
1091                          Lupus III  1989
1099                           Arini II  1988
1121                              Lupus  1987
1131                  Biarkan Bulan Itu  1986
1136                    Keluarga Markum  1986
1138                      Opera Jakarta  1986
1146                      Darah perjaka  1985
1152        Kesempatan Dalam Kesempitan  1985
1155                       Putri Duyung  1985
1158             Si Buta dari Gua Hantu  1985
1177               Ken Arok - Ken Dedes  1983
1181              Midah Perawan Buronan  1983
1195                        Hukum Karma  1982
1203                   Tangkuban Perahu  1982
1210           Manusia Enam Juta Dollar  1981
1223           Senyummu Adalah Tangisku  1980
1230             Puspa Indah Taman Hati  1979
1239               Pembalasan Si Pitung  1977
1258                      Malin Kundang  1971

                                            description genre   rating  \
761                                                       NaN  Unrated
824                                                       NaN  Unrated
826   Tania is the golden child of the teachers beca...   NaN  Unrated
856                                                       NaN  Unrated
899   Bella (Laudya Cynthia Bella), Raffi (Raffi Ahm...   NaN  Unrated
938   Tiro, a geologist is suddenly caught up in a q...   NaN  Unrated
955   The film opens with the arrival of an old man ...   NaN      17+
962   Mel has a successful life. It all changes when...   NaN  Unrated
964   Regi suffers from depression since childhood, ...   NaN  Unrated
968                                                       NaN  Unrated
1008                                                      NaN  Unrated
1014  Compendium of five short neo-realist tales set...   NaN  Unrated
1040                                                      NaN  Unrated
1047                                                      NaN  Unrated
1070                                                      NaN  Unrated
1075                                                      NaN  Unrated
1084                                                      NaN  Unrated
1091                                                      NaN  Unrated
1099  Nick and Arini finally marry despite their big...   NaN  Unrated
1121  Lupus as known title "Tangkaplah Daku Kau Kuji...   NaN  Unrated
1131                                                      NaN  Unrated
1136                                                      NaN  Unrated
1138                                                      NaN  Unrated
1146                                                      NaN  Unrated
1152                                                      NaN  Unrated
1155                                                      NaN  Unrated
1158                                                      NaN  Unrated
1177  legend stories popular in Javanese land. Ken A...   NaN  Unrated
1181                                                      NaN  Unrated
1195                                                      NaN  Unrated
1203                                                      NaN  Unrated
1210                                                      NaN  Unrated
1223                                                      NaN  Unrated
1230                                                      NaN  Unrated
1239                                                      NaN  Unrated
1258                                                      NaN  Unrated

                directors                                             actors  \
761       Herwin Novianto  ['Ringgo Agus Rahman', 'Mario Irwiensyah', 'Op...
824            Monty Tiwa  ['Titi Kamal', 'Poppy Sovia', 'Francine Roosen...
826         Fajar Bustomi  ['Nikita Willy', 'Risty Tagor', 'Oka Antara', ...
856        Rudy Soedjarwo  ['Raffi Ahmad', 'Irgi Fahrezi', 'Intan Nuraini...
899          Lasja Fauzia  ['Raffi Ahmad', 'Ayushita', 'Dimas Beck', 'Lau...
938      Franklin Darmadi  ['Tora Sudiro', 'Irshadi Bagas', 'Indra Birowo...
955   Teddy Soeriaatmadja  ['Reggy Lawalata', 'Luna Maya', 'Slamet Rahard...
962      Hanung Bramantyo  ['Marcella Zalianty', 'Bucek Depp', 'Philip Ju...
964      Nanang Istiabudi  ['Shanty', 'Cornelia Agatha', 'Tri Budiman', '...
968      Nayato Fio Nuala  ['Raffi Ahmad', 'Dwi Andhika', 'Anggur Aulia',...
1008     Indra Yudhistira  ['Claudia Hidayat', "Ba'i Soemarlono", 'Syarmi...
1014     Ravi L. Bharwani  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1040               Arizal  ['Rara Azis', 'H.I.M. Damsyik', 'Ingrid M.P. K...
1047               Arizal  ['M. Amin', 'Ayu Azhari', 'Susy Bolle', 'John ...
1070         Imam Tantowi  ['Denny Porlen', 'Devi Permatasari', 'Baron Ah...
1075               Arizal  ['Nurul Arifin', 'Eva Arnaz', 'Diding Boneng',...
1084         Imam Tantowi  ['Murti Sari Dewi', 'Elly Ermawati', 'Yoshep H...
1091         Edi Siswanto  ['Gusur Adhikarya', 'Boim', 'Gito Gilas', 'Hil...
1099            Wim Umboh  ['Joice Erna', 'Rano Karno', 'Ida Iasha', 'Rim...
1121        Achiel Nasrun  ['Nurul Arifin', 'Septian Dwi Cahyo', 'Gito Gi...
1131       Arifin C. Noer  ['Aminah Cendrakasih', 'H.I.M. Damsyik', 'Ikan...
1136         Chaerul Umam  ['Ully Artha', 'Nanang Durachman', 'Firza', 'I...
1138         Sjuman Djaya  ['Minati Atmanegara', 'Pitradjaya Burnama', 'J...
1146         Ackyl Anwari  ['Machfud Abud', 'Advent Bangun', 'H.I.M. Dams...
1152               Arizal  ['Mathias Agus', 'Lina Budiarty', 'Tony Damani...
1155         Atok Suharto  ['Eva Arnaz', 'Barry Prima', 'Advent Bangun', ...
1158         Ratno Timoer  ['Ayu Azhari', 'Advent Bangun', 'Pitradjaya Bu...
1177       Djun Saptohadi  ['Bram Adrianto', 'Baron Ahmadi', 'Ali Albar',...
1181      Fritz G. Schadt  ['Eva Arnaz', 'Edy S. Jonathan', 'Adang Mansyu...
1195         Jimmy Atmaja  ['Hendra Cipta', 'Marisa Haque', 'Ucok Harahap...
1203        Liliek Sudjio  ['Hendra Abidin', 'Pitradjaya Burnama', 'Maris...
1210           Ali Shahab  ['Hamid Arief', 'Eva Arnaz', 'Dorman Borisman'...
1223          Dasri Jacob  ['Zainal Abidin', 'Sofia Amang', 'Ruslan Basri...
1230               Arizal  ['Yessy Gusman', 'Marlia Hardi', 'Pong Harjatm...
1239          Nawi Ismail  ['A.N. Alcaff', 'Hamid Arief', 'Muni Cader', '...
1258       D. Djajakusuma  ['Noor Azizah', 'M. Budhrasa', 'Darussalam', '...

         score
761   6.126201
824   6.046491
826   6.168307
856   6.108305
899   5.976554
938   6.126644
955   6.197459
962   6.133386
964   6.177793
968   6.119366
1008  6.105073
1014  6.162484
1040  6.135203
1047  6.132098
1070  6.164472
1075  6.114195
1084  6.170918
1091  6.152756
1099  6.158759
1121  6.192484
1131  6.140710
1136  6.164395
1138  6.155448
1146  6.134251
1152  6.185858
1155  6.146424
1158  6.135651
1177  6.192727
1181  6.133533
1195  6.097469
1203  6.136111
1210  6.310072
1223  6.166549
1230  6.172385
1239  6.158026
1258  6.158759

In [54]:
df['genre'] = df['genre'].fillna('Undefine')
df

,title,year,description,genre,rating,directors,actors,score
0,#FriendButMarried 2,2020,Ayudia (Mawar De Jongh) is not satisfied enoug...,Biography,13+,Rako Prijanto,"['Adipati Dolken', 'Mawar Eva de Jongh', 'Vonn...",6.218060
1,4 Mantan,2020,"Sara, Airin, Rachel, and Amara were accidental...",Thriller,17+,Hanny Saputra,"['Ranty Maria', 'Jeff Smith', 'Melanie Berentz...",6.148793
2,Aku Tahu Kapan Kamu Mati,2020,"After apparent death, Siena is able to see sig...",Horror,13+,Hadrah Daeng Ratu,"['Natasha Wilona', 'Ria Ricis', 'Al Ghazali', ...",6.117856
3,Anak Garuda,2020,"Good Morning Indonesia, a school for poor orph...",Adventure,13+,Faozan Rizal,"['Tissa Biani Azzahra', 'Violla Georgie', 'Aji...",6.308473
4,Dignitate,2020,Alfi (Al Ghazali) meets Alana (Caitlin Halderm...,Drama,17+,Fajar Nugros,"['Al Ghazali', 'Caitlin Halderman', 'Giorgino ...",6.241964
...,...,...,...,...,...,...,...,...
1267,The Tiger from Tjampa,1953,"Set in the 1930s, and narrated like a ballad f...",Drama,Unrated,D. Djajakusuma,"['Wahid Chan', 'Bambang Hermanto', 'R.D. Ismai...",6.160084
1268,Enam Djam di Djogja,1951,Depicting the celebrated recapture of the town...,Drama,Unrated,Usmar Ismail,"['R.D. Ismail', 'Del Juzar', 'Aedy Moward', 'A...",6.147407
1269,Darah dan Doa,1950,It tells the story of an Indonesian revolution...,Drama,Unrated,Usmar Ismail,"['Ella Bergen', 'Faridah', 'R.D. Ismail', 'Del...",6.169706
1270,Resia Boroboedoer,1928,,Adventure,Unrated,,"['Olive Young', nan, nan, nan, nan, nan, nan, ...",6.159061
1271,Loetoeng Kasaroeng,1926,,Fantasy,Unrated,L. Heuveldorp,"['Martoana', 'Oemar', nan, nan, nan, nan, nan,...",6.169101

In [55]:
df.drop_duplicates(subset=['title'])

,title,year,description,genre,rating,directors,actors,score
0,#FriendButMarried 2,2020,Ayudia (Mawar De Jongh) is not satisfied enoug...,Biography,13+,Rako Prijanto,"['Adipati Dolken', 'Mawar Eva de Jongh', 'Vonn...",6.218060
1,4 Mantan,2020,"Sara, Airin, Rachel, and Amara were accidental...",Thriller,17+,Hanny Saputra,"['Ranty Maria', 'Jeff Smith', 'Melanie Berentz...",6.148793
2,Aku Tahu Kapan Kamu Mati,2020,"After apparent death, Siena is able to see sig...",Horror,13+,Hadrah Daeng Ratu,"['Natasha Wilona', 'Ria Ricis', 'Al Ghazali', ...",6.117856
3,Anak Garuda,2020,"Good Morning Indonesia, a school for poor orph...",Adventure,13+,Faozan Rizal,"['Tissa Biani Azzahra', 'Violla Georgie', 'Aji...",6.308473
4,Dignitate,2020,Alfi (Al Ghazali) meets Alana (Caitlin Halderm...,Drama,17+,Fajar Nugros,"['Al Ghazali', 'Caitlin Halderman', 'Giorgino ...",6.241964
...,...,...,...,...,...,...,...,...
1267,The Tiger from Tjampa,1953,"Set in the 1930s, and narrated like a ballad f...",Drama,Unrated,D. Djajakusuma,"['Wahid Chan', 'Bambang Hermanto', 'R.D. Ismai...",6.160084
1268,Enam Djam di Djogja,1951,Depicting the celebrated recapture of the town...,Drama,Unrated,Usmar Ismail,"['R.D. Ismail', 'Del Juzar', 'Aedy Moward', 'A...",6.147407
1269,Darah dan Doa,1950,It tells the story of an Indonesian revolution...,Drama,Unrated,Usmar Ismail,"['Ella Bergen', 'Faridah', 'R.D. Ismail', 'Del...",6.169706
1270,Resia Boroboedoer,1928,,Adventure,Unrated,,"['Olive Young', nan, nan, nan, nan, nan, nan, ...",6.159061
1271,Loetoeng Kasaroeng,1926,,Fantasy,Unrated,L. Heuveldorp,"['Martoana', 'Oemar', nan, nan, nan, nan, nan,...",6.169101

In [56]:
df['titlelower'] = df['title'].str.lower()
df

,title,year,description,genre,rating,directors,actors,score,titlelower
0,#FriendButMarried 2,2020,Ayudia (Mawar De Jongh) is not satisfied enoug...,Biography,13+,Rako Prijanto,"['Adipati Dolken', 'Mawar Eva de Jongh', 'Vonn...",6.218060,#friendbutmarried 2
1,4 Mantan,2020,"Sara, Airin, Rachel, and Amara were accidental...",Thriller,17+,Hanny Saputra,"['Ranty Maria', 'Jeff Smith', 'Melanie Berentz...",6.148793,4 mantan
2,Aku Tahu Kapan Kamu Mati,2020,"After apparent death, Siena is able to see sig...",Horror,13+,Hadrah Daeng Ratu,"['Natasha Wilona', 'Ria Ricis', 'Al Ghazali', ...",6.117856,aku tahu kapan kamu mati
3,Anak Garuda,2020,"Good Morning Indonesia, a school for poor orph...",Adventure,13+,Faozan Rizal,"['Tissa Biani Azzahra', 'Violla Georgie', 'Aji...",6.308473,anak garuda
4,Dignitate,2020,Alfi (Al Ghazali) meets Alana (Caitlin Halderm...,Drama,17+,Fajar Nugros,"['Al Ghazali', 'Caitlin Halderman', 'Giorgino ...",6.241964,dignitate
...,...,...,...,...,...,...,...,...,...
1267,The Tiger from Tjampa,1953,"Set in the 1930s, and narrated like a ballad f...",Drama,Unrated,D. Djajakusuma,"['Wahid Chan', 'Bambang Hermanto', 'R.D. Ismai...",6.160084,the tiger from tjampa
1268,Enam Djam di Djogja,1951,Depicting the celebrated recapture of the town...,Drama,Unrated,Usmar Ismail,"['R.D. Ismail', 'Del Juzar', 'Aedy Moward', 'A...",6.147407,enam djam di djogja
1269,Darah dan Doa,1950,It tells the story of an Indonesian revolution...,Drama,Unrated,Usmar Ismail,"['Ella Bergen', 'Faridah', 'R.D. Ismail', 'Del...",6.169706,darah dan doa
1270,Resia Boroboedoer,1928,,Adventure,Unrated,,"['Olive Young', nan, nan, nan, nan, nan, nan, ...",6.159061,resia boroboedoer
1271,Loetoeng Kasaroeng,1926,,Fantasy,Unrated,L. Heuveldorp,"['Martoana', 'Oemar', nan, nan, nan, nan, nan,...",6.169101,loetoeng kasaroeng

In [58]:
chars_to_remove = ['$','+',',','[',']',"'",')','(',' ','.','nan']
# List of column names to clean
cols_to_clean = df[['genre','rating','actors','description','directors']]
# Loop for each column in cols_to_clean
for col in cols_to_clean:
    # Loop for each char in chars_to_remove
    for char in chars_to_remove:
        # Replace the character with an empty string
        df[col] = df[col].apply(lambda x: x.replace(char,'')).str.lower()

df

,title,year,description,genre,rating,directors,actors,score,titlelower
0,#FriendButMarried 2,2020,ayudiamawardejonghisnotsatisfiedenoughinenjoyi...,biography,13,rakoprijanto,adipatidolkenmawarevadejonghvonnycornellyasari...,6.218060,#friendbutmarried 2
1,4 Mantan,2020,saraairinrachelandamarawereaccidentallybrought...,thriller,17,hannysaputra,rantymariajeffsmithmelanieberentzdenirawiragun...,6.148793,4 mantan
2,Aku Tahu Kapan Kamu Mati,2020,afterapparentdeathsienaisabletoseesignsthatpeo...,horror,13,hadrahdaengratu,natashawilonariaricisalghazalifitriarasyidirym...,6.117856,aku tahu kapan kamu mati
3,Anak Garuda,2020,goodmorningindonesiaaschoolforpoororphansinvit...,adventure,13,faozanrizal,tissabianiazzahraviollageorgieajildittoclairin...,6.308473,anak garuda
4,Dignitate,2020,alfialghazalimeetsalanacaitlinhaldermaewstuden...,drama,17,fajarnugros,alghazalicaitlinhaldermangiorginoabrahamteukur...,6.241964,dignitate
...,...,...,...,...,...,...,...,...,...
1267,The Tiger from Tjampa,1953,setinthe1930sandnarratedlikeaballadfromthepast...,drama,unrated,ddjajakusuma,wahidchanbambanghermantordismailmalinmaradjonu...,6.160084,the tiger from tjampa
1268,Enam Djam di Djogja,1951,depictingthecelebratedrecaptureofthetownofyogy...,drama,unrated,usmarismail,rdismaildeljuzaraedymowardagusmuljonomsani,6.147407,enam djam di djogja
1269,Darah dan Doa,1950,ittellsthestoryofanindonesianrevolutionarywhof...,drama,unrated,usmarismail,ellabergenfaridahrdismaildeljuzaraedymowardara...,6.169706,darah dan doa
1270,Resia Boroboedoer,1928,,adventure,unrated,,oliveyoung,6.159061,resia boroboedoer
1271,Loetoeng Kasaroeng,1926,,fantasy,unrated,lheuveldorp,martoanaoemar,6.169101,loetoeng kasaroeng

In [59]:
def create_soup(x):
    return ''.join(x['genre'])+ ''.join(x['description'])+''.join(x['actors'])+''.join(x['rating'])

In [60]:
# Create a new soup feature
df['soup'] = df.apply(create_soup, axis=1)
df

,title,year,description,genre,rating,directors,actors,score,titlelower,soup
0,#FriendButMarried 2,2020,ayudiamawardejonghisnotsatisfiedenoughinenjoyi...,biography,13,rakoprijanto,adipatidolkenmawarevadejonghvonnycornellyasari...,6.218060,#friendbutmarried 2,biographyayudiamawardejonghisnotsatisfiedenoug...
1,4 Mantan,2020,saraairinrachelandamarawereaccidentallybrought...,thriller,17,hannysaputra,rantymariajeffsmithmelanieberentzdenirawiragun...,6.148793,4 mantan,thrillersaraairinrachelandamarawereaccidentall...
2,Aku Tahu Kapan Kamu Mati,2020,afterapparentdeathsienaisabletoseesignsthatpeo...,horror,13,hadrahdaengratu,natashawilonariaricisalghazalifitriarasyidirym...,6.117856,aku tahu kapan kamu mati,horrorafterapparentdeathsienaisabletoseesignst...
3,Anak Garuda,2020,goodmorningindonesiaaschoolforpoororphansinvit...,adventure,13,faozanrizal,tissabianiazzahraviollageorgieajildittoclairin...,6.308473,anak garuda,adventuregoodmorningindonesiaaschoolforpoororp...
4,Dignitate,2020,alfialghazalimeetsalanacaitlinhaldermaewstuden...,drama,17,fajarnugros,alghazalicaitlinhaldermangiorginoabrahamteukur...,6.241964,dignitate,dramaalfialghazalimeetsalanacaitlinhaldermaews...
...,...,...,...,...,...,...,...,...,...,...
1267,The Tiger from Tjampa,1953,setinthe1930sandnarratedlikeaballadfromthepast...,drama,unrated,ddjajakusuma,wahidchanbambanghermantordismailmalinmaradjonu...,6.160084,the tiger from tjampa,dramasetinthe1930sandnarratedlikeaballadfromth...
1268,Enam Djam di Djogja,1951,depictingthecelebratedrecaptureofthetownofyogy...,drama,unrated,usmarismail,rdismaildeljuzaraedymowardagusmuljonomsani,6.147407,enam djam di djogja,dramadepictingthecelebratedrecaptureofthetowno...
1269,Darah dan Doa,1950,ittellsthestoryofanindonesianrevolutionarywhof...,drama,unrated,usmarismail,ellabergenfaridahrdismaildeljuzaraedymowardara...,6.169706,darah dan doa,dramaittellsthestoryofanindonesianrevolutionar...
1270,Resia Boroboedoer,1928,,adventure,unrated,,oliveyoung,6.159061,resia boroboedoer,adventureoliveyoungunrated
1271,Loetoeng Kasaroeng,1926,,fantasy,unrated,lheuveldorp,martoanaoemar,6.169101,loetoeng kasaroeng,fantasymartoanaoemarunrated

In [61]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(token_pattern = "[a-zA-Z0-9]")
count_matrix = count.fit_transform(df['soup'])

In [108]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [109]:
#Construct a reverse map of indices and movie titles
indeks = pd.Series(df.index, index=df['titlelower'])

In [208]:
# Function that takes in movie title as input and outputs most similar movies

def get_recommendations(dex, n, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    z=[]
    sim_scores=[]
    p=[]
    for i in range(n):
        # Get the pairwsie similarity scores of all movies with that movie
        sim_scores = list(enumerate(cosine_sim[dex[i]]))
        # Sort the movies based on the similarity scores
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

        # Get the scores of the 10 most similar movies
       # if n <=1:
         #   sim_scores = list(sim_scores)[1:13]
       # elif n<=3:
       #     sim_scores = list(sim_scores)[1:6]
      #  elif n<=4:
      #      sim_scores = list(sim_scores)[1:4]
      #  else:
       #     sim_scores = list(sim_scores)[1:3]
            
        z = z + sim_scores
    z = pd.DataFrame(z)
    z = z.drop_duplicates(subset=[0])
    z = z.values.tolist()
    z = sorted(z, key=lambda x: x[1], reverse=True)
    p=[]
    for x in z:
        p.append(x[0])
    p = list(map(int, p))
    for c in p:
        if c in dex:
            p.remove(c)

    return df[['title','year','genre']].iloc[p[1:12]]

In [211]:
listtitle=[]
dex = []
i=0
while i <= len(df):
    judul = input('Masukkan Judul: ')
    listtitle.append(judul)
    i=+1
    if judul == '':
        break

del listtitle[-1]
listtitle = [each_string.lower() for each_string in listtitle]

for i in listtitle:
    idx = indeks[i]
    dex.append(idx)

get_recommendations(dex,n=len(listtitle))

Masukkan Judul: the raid: redemption
Masukkan Judul: the raid 2
Masukkan Judul:

                         title  year      genre
1233  Godaan Siluman Perempuan  1978     horror
265                  Night Bus  2017      crime
217     The Night Comes for Us  2018     action
22             27 Steps of May  2019      drama
604                     Dilema  2011      crime
752           Garuda di Dadaku  2009      drama
218        The Perfect Husband  2018      drama
188              Menunggu Pagi  2018      drama
21                  #MoveOnAja  2019     comedy
606         Garuda di Dadaku 2  2011      drama
870         Pencarian Terakhir  2008  adventure